

.login-page-header img {
  height: 70px;
  margin: 10px auto;
  display: block; }

.login-section {
  height: 400px;
  width: 70%;
  margin: 0 auto; }
  .login-section .login-form {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 50%;
    display: inline-block; }
    .login-section .login-form h2 {
      text-align: center;
      color: #fff; }
    .login-section .login-form label {
      font-size: 1.2em;
      color: #fff; }
    .login-section .login-form a {
      background-color: #1AA6B7;
      padding: 10px 20px;
      color: #fff;
      text-align: center;
      display: block;
      width: 90px;
      margin: 0 auto; }
      .login-section .login-form a:hover {
        text-decoration: none; }
  .login-section .login-title {
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    height: 400px;
    float: left; }
    .login-section .login-title h2 {
      text-align: center;
      color: #022D41;
      padding-top: 100px; }
    .login-section .login-title h1 {
      font-size: 2em;
      text-align: center;
      margin-top: 100px;
      position: relative; }
      .login-section .login-title h1 span {
        color: #6b8aca; }

@media (max-width: 768px) {
  .login-section .login-form {
    width: 100%;
    height: 304px; }
  .login-section .login-title {
    width: 100%;
    max-height: 200px;
    width: 95%;
    margin: 0 auto; }
    .login-section .login-title h1 {
      margin-top: 20px; }
    .login-section .login-title h2 {
      padding-top: 0;
      margin-top: 0; } }

/*# sourceMappingURL=maps/main.css.map */
