<section class="login-form-wrapper" style="background: url('../assets/images/homebanner.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 100vh;
		margin-top: 0;">
  <header class="login-page-header">
    <img src="../assets/images/universoromanticologo3.png" alt="">
  </header>
  <section class="login-section">
    <div class="login-title">
      <h1>UNIVERSO <span>ROMANTICO</span></h1>
      <h2>ADMIN PANEL</h2>
    </div>
    <div class="login-form">
      <h2>LOGIN</h2>
      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" >

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" formControlName="email" class="form-control" id="username" required>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.email }}
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" formControlName="password"  class="form-control" id="password" required >
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.password }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary" href="#" > LOGIN </button>
      </form>
    </div>
  </section>
</section>
