<h1 align="center">Room Details Form</h1>
<form align="center" class="container">
Room Type:<select name="room type">
	<option value="Standard single room">Standard single room</option>
	<option value="Twin room">Twin room</option>
	<option value="Delux Double">Delux Double</option>
</select>
<br><br>
<input type="submit" name="submit">

</form>
