	<header class="universo-backend-header">
		<img class="logo" src="../../assets/images/universoromanticologofinal.png">

		<a href="" class="logout"><span>LOGOUT</span><img src="../../assets/images/logout.png"></a>
	</header>