<h1 align="center">Amenity Details Form</h1>
<form align="center" class="container" (ngSubmit)="onSubmit()">
  Name:<input type="text" name="name" placeholder="enter your name">
  <br><br>
  <button type="submit">submit</button>

</form>
