/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: "Marcellus", sans-serif; }

html {
  margin: 0;
  padding: 0;
}
.universo-backend-header{
	height: 70px;
	background-color: #022D41;
	position: fixed;
	top: 0;
	width: 100%;
}

.universo-backend-header .logo{
	height: 60px;
	padding-top: 5px;
	opacity: 0.9;
}

.universo-backend-header .logout{
	float: right;
	padding:5px 15px 0 0;
	text-decoration: none;
	color:#fff;
	text-align: center;
}

.universo-backend-header .logout span{
	display: block;
}

.universo-backend-header .logout img{
	height: 40px;
}

aside{
	width: 20%;
	position: fixed;
	left: 0;
	background-color: #eee;
	min-height: 100vh;
	overflow-y: auto;
	top: 70px;
}

.main-content{
	background-color: #f4f4f4;
	height: 100vh;
	width: 80%;
	margin-left: 20%;
	margin-top: 70px;
}